pr:
- 'main'

pool:
  vmImage: 'windows-latest'

steps:
- task: BatchScript@1
  displayName: 'Run VsDevCmd.bat'
  inputs:
    filename: 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat'
    modifyEnvironment: true

- task: BatchScript@1
  displayName: 'Run BuildAndTest.cmd'
  inputs:
    filename: 'BuildAndTest.cmd'

- task: PowerShell@2
  displayName: 'Merging TestResults'
  inputs:
    targetType: 'inline'
    script: |
      dotnet tool install -g dotnet-reportgenerator-globaltool      
      reportgenerator -reports:**/coverage.cobertura.xml -targetdir:TestResults -reporttypes:Cobertura

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'cobertura'
    summaryFileLocation: 'TestResults/Cobertura.xml'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: 'bld'
    artifactName: 'bld'
