pr:
- 'main'

pool:
  vmImage: 'windows-2022'

steps:
- task: UseDotNet@2
  displayName: .NET Core 6.0 sdk
  inputs:
    version: "6.0.x"
    packageType: sdk

- task: BatchScript@1
  displayName: 'Run VsDevCmd.bat'
  inputs:
    filename: 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat'
    modifyEnvironment: true

- task: BatchScript@1
  displayName: 'Run  BuildAndTest.cmd'
  inputs:
    filename: 'BuildAndTest.cmd'
    arguments: '-Configuration Release -EnableCoverage'

- task: PublishTestResults@2
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'

- task: ComponentGovernanceComponentDetection@0